.cart p{
    margin: 1rem 0 !important;
    font-size: 1.5rem;
    color:grey;
}

.botonVaciar{
    margin: 1rem 0 1.5rem 0 !important;
}

.total{
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin: 1rem 2rem;

}

.total p{
    font-size: 1.2rem;
    font-weight: 350;
}