.cart p{
    margin: 1rem 0 !important;
    font-size: 1.5rem;
    color:grey;
}

.botonVaciar{
    margin: 1rem 0 1.5rem 0 !important;
}

.total{
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    margin: 1rem 2rem;

}

.total p{
    font-size: 1.2rem;
    font-weight: 350;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    margin: 1rem 2rem;
    padding-bottom: 1.5rem;

}

.formulario p{
    font-size: 1.5rem;
    font-weight: 350;
    width: 100%;
}

.formulario .inputs{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.formulario .inputs input{
    margin: 0.5rem;
    max-width: 30rem;
    min-width: 50%;
}

.formulario Button{
    max-width: 12rem !important;
    margin:auto;
}